<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profiles</title>
    <style>
        .profiles{
            display: flex;
        }
        .card{
            width: 250px;
            padding: 10px;
            border: 1px solid black;
            border-radius: 6px;
            margin: 30px;
        }
        .card img{
            margin: 0 auto;
            width: 100%;
        }
    </style>
</head>
<body>
    <%- include('partials/nav.ejs')%>
    <h1 style="text-align:center">Profiles</h1>
    <div class="profiles">
        <%locals.profiles.forEach(profile=>{%>
        <div class="card">
            <img src="images/profileImages/<%=profile.imageName%>" alt="<%=profile.imageOriginalName%>" min-width="200px">
            <p><%=profile.fullName%></p>
            <p><%=profile.email%></p>
            <p>bio</p>
        </div>
        <%})%>
    </div>
</body>
</html>